@font-face {
    font-family: 'young_serif';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'outfit';
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose_white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --ligth_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--eggshell);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1700px;
}

.body__item {
    background-color: var(--white);
    width: 650px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    flex-direction: column;
    height: 570px;
    justify-content: space-between;
}

header img {
    width: 100%;
    border-radius: 20px;
}

header h1 {
    font-family: 'young_serif';
    font-weight: 400;
}

header p {
    font-family: 'outfit';
    color: var(--wenge_brown);
    font-size: .9em;
}

header .time__preparation {
    background-color: var(--rose_white);
    height: 160px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.time__preparation__item {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time__preparation h3 {
    font-family: 'outfit';
    color: var(--dark_raspberry);
}

.list__time__preparation {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .9em;
}

.list__time__preparation li {
    font-family: 'outfit';
}

.list__time__preparation li b {
    color: var(--dark_charcoal);
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subtitle {
    color: var(--dark_raspberry);
    font-family: 'young_serif';
    font-weight: 300;
    font-size: 1.6em;
}

.ingredientes {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__ingredientes {
    margin-left: 30px;
    font-family: 'outfit';
    color: var(--wenge_brown);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .9em;
}

.instrucciones {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__intructions {
    list-style: decimal;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .9em;
}

.list__intructions li {
    color: var(--wenge_brown);
    font-family: 'outfit';
}

footer {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p {
    font-family: 'outfit';
    color: var(--wenge_brown);
    font-size: .9em;
}

.container__item__nutrition {
    display: flex;
    flex-direction: column;
    font-family: 'outfit';
}

.nutrition__item {
    display: flex;
    height: 40px;
    border-bottom: 1px solid var(--ligth_grey);
    align-items: center;
}

.nutrition__item:nth-child(4) {
    border: none;
}

.nutrition__item__name, .nutrition__item__value {
    width: 50%;
}

.nutrition__item__name {
    color: var(--wenge_brown);
    font-weight: 500;
}

.nutrition__item__value {
    color: var(--dark_raspberry);
    font-weight: 700;
}

@media (min-width: 1440px) {}
@media (min-width: 1281px) and (max-width: 1439px) {}
@media (min-width: 1025px) and (max-width: 1280px) {}
@media (min-width: 768px) and (max-width: 1024) {}
@media (min-width: 481px) and (max-width: 767px) {
    body {
        height: 1850px;
    }

    .body__item {
        width: 400px;
    }

    .instrucciones {
        height: 600px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    body {
        height: 2000px;
    }

    .body__item {
        width: 300px;
        padding: 30px 10px;
    }

    header img {
        height: 200px;
        object-fit: cover;
    }

    header h1 {
        font-size: 1.8em;
        text-align: center;
    }

    .time__preparation__item {
        margin-left: 20px;
    }

    .instrucciones {
        height: 720px;
    }

    .footer {
        height: 260px;
    }
}