@font-face {
    font-family: 'young_serif';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'outfit';
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose_white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --ligth_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);

    /* --font_young_serif: 'Young Serif', serif;
    --font_outfit: 'Outfit', sans-serif; */
}

body {
    background-color: var(--eggshell);
}

.body__item {
    background-color: var(--white);
    width: 800px;
}

header img {
    width: 90%;
}

@media (min-width: 1440px) {}
@media (min-width: 1281px) and (max-width: 1439px) {}
@media (min-width: 1025px) and (max-width: 1280px) {}
@media (min-width: 768px) and (max-width: 1024) {}
@media (min-width: 481px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 480px) {}